<h1>Search a song</h1>
<form action="ejemplo.php">
<div>
<input type="text" name="nombre" maxlength="20" size="20" />
Find by:
<select>
<option>Album</option>
<option>Artist</option>
<option>Song</option>
</select>
</div>
</form>

